#changelog {
display:none;
color:#000;
overflow:auto;
width:550px;
padding:10px;
font-size: 14px;
background-color:#f1f1f187;
margin:left;
border-radius: 0.375em;
}

@media screen and (max-width: 760px) {
#changelog {
display:none;
color:#000;
overflow:auto;
width:100%;
padding:10px;
font-size: 14px;
background-color:#f1f1f187;
margin:left;
border-radius: 0.375em;
}
}

/* Chart Layout */

.tableflame table {
border: solid 2px #000;
margin: 0 0 2em 0;
text-align: center;
vertical-align: middle;
width: 100%;
font-size: 14px;
}

.tableflame table tbody tr {
border: solid 1px #000;
border-left: 0;
border-right: 0;
background-color: #e6ebed40;
color: #222222;
}

.tableflame table td {
padding: 0.75em 0.75em;
text-align: center;
vertical-align: middle;
font-size: 1em;
}

.tableflame table th {
font-size: 0.9em;
font-weight: 600;
border: solid 2px #000;
border-left: 0;
border-right: 0;
padding: 0.75em;
text-align: center;
vertical-align: middle;
background-color: #222222;
}

.tableflame table thead {
border-bottom: solid 2px #00000026;
}

.tableflame table tfoot {
border-top: solid 2px #ffffff26;
}

.tableflame a:visited {
color:#0000c0;
}

.tableflame .tr_normal {
background-color:#dddddd;
}

.tableflame .tr_new {
background-color:#ff8888;
}

.tableflame .tr_update {
background-color:#8888ff;
}

.tableflame tr,a {
 /*Firefox向け*/
-moz-transition-property: color, background-color;
-moz-transition-duration:0.2s;
/*Chrome、Safari向け*/
-webkit-transition-property: color, background-color;
-webkit-transition-duration:0.2s;
/*Opera向け*/
-o-transition-property: color, background-color;
-o-transition-duration:0.2s;
transition-property: color, background-color;
transition-duration:0.2s;
}

.tableflame tr.tr_normal:hover {
background-color:#70f0f0;
}